.contact-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    .left {
        font-family: 'La Belle Aurore', cursive;
        margin-left:-12%;
        margin-top: 3%;
        h1{
            align-content: center;
            margin-left: 17%;
            font-size: 600%;
            letter-spacing: 10px;
        }
        .input-form{
            margin-top:-10%;
            display: flex;
            justify-content: space-evenly;
            width:100%;
            .input-begin {
                text-align: center;
                height: 2rem !important;
                border-color: #444 !important;
                border-radius: 7px;

            }
        }
        .input-subject{
            width:95%;
            text-indent: 5px;
            margin-top:3%;
            margin-left:0.8%;
            height:2rem;
            border-radius: 7px;
            z-index: 3;
            border-color: #444
        }
        .input-body {
            width:94%;
            text-indent: 5px;
            padding: 5px;
            resize: none;
            height: 40%;
            margin-top:4%;
            margin-left:0.8%;
            border-radius: 7px;
            border-color: #444;
            border-width:2px !important;
            z-index: 3;
        }
        .flat-button {
            color: #FFFFFF;
            font-family: Arial, Helvetica, sans-serif;
            background-color: #444;
            float: right;
            height: 35px;
            width: 100px;
            border-radius: 5px;
            margin-right: 2%;
            margin-top:1.7%;
            
           
          }
        
    }
    .right{
        color:blue;
        align-self: center;
        .info-map{
            color:black;
            font-family: Arial, Helvetica, sans-serif;
            
        }
        .map-wrap {
            background: rgba(8, 253, 216, 0.1);
       ;
            width: 53%;
            height: 115%;
           
          }
          
          .leaflet-container {
            position: relative;
            width: 100%;
            height: 100%;
            opacity: 0;
            animation: backInRight 1s 1.2s;
            animation-fill-mode: forwards;
          }
          
          

          
        
    }
}
