//Mobile :

.page {
  margin-top: -5%;
  position: absolute;
  height:89%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.top-tags {
  bottom: auto;
  top: 35px;
}

.tags {
  color: #444;
  opacity: 0.6;
  position: absolute;
  bottom: 0;
  left: 120px;
  font-size: 18px;
  font-family: 'La Belle Aurore', cursive;
}

.bottom-tag-html {
  margin-left: -20px;
 
  
}

// Web: 
@media (min-width: 500px) {
.page {
    width: 110%;
    margin-left:-10%;
    height: 100%;
    margin-top:0px;
    position: absolute;
  }
  
  .top-tags {
    bottom: auto;
    top: 35px;
  }
  
  .tags {
    color: #444;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    left: 120px;
    font-size: 18px;
    font-family: 'La Belle Aurore', cursive;
  }
  
  .bottom-tag-html {
    margin-left: -20px;

  }
}