@keyframes mySvg {
    0%{
        stroke-dashoffset:7011;
    }    
    100%{
        stroke-dashoffset: 0;
    }
}
.web-main-area{
    margin :10%;
    position: absolute;

    
    h1 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        letter-spacing: 17px;
        font-family: 'La Belle Aurore', cursive;
        font-size: 465%;
        margin-left: 10%;
        text-shadow: 10;
        box-shadow: inset;
     
        img {
            height:10%;
            width:10%;
            border-radius: 100%;
            animation: bounceIn 1.3s backwards;
            margin-left: 3%;
            margin-top: -1%;
        }
    }
    h2 {
        height: 20px;
        margin-top: -5%;
        width: 100%;
       #svg {
   
        stroke-dasharray:7011;
        animation: 15s mySvg cubic-bezier(1,-0.04,.32,.7) forwards; ;
        margin-left: 30%;
       }
    
    }

    main {
        position: relative;
        width:65%;
        height: 50%;
        font-size: 160%;
        animation: bounceIn 1.3s backwards;
        text-align: center;
        padding-left: 15%;
        margin:5%;
        line-height:145%;
    }

}
