.web-main-area{
    margin :15%;
    position: block;

    
    h1 {
        font-family: 'La Belle Aurore', cursive;
        font-size: 46px;
        margin-left: 12%;
    }
    h2{

        img {
            position: absolute;
            height:130px;
            width:130px;
            margin-top: -15%;
            margin-right:12%;
            border-radius: 90px;
            right:0;
            animation: bounceIn 1.7s backwards;
           
        }
    }
    main {
        position: absolute;
        display: flex;
        font-size: 20px;
        animation: bounceIn 1.7s backwards;
        text-align: center;
        padding:2% 15% 10% 10%;
        line-height:40px;

    }
}