@keyframes rotate {
    100% {
      transform: rotate3d(1, 1, 1, 360deg); /* 405 = 360 + 45 */
    }
  }

.main-area {
    margin-left:10%;
    margin-top:27%;

    h1 {
        margin: 0;
        font-size: 350%;
        font-family: 'La Belle Aurore', cursive;
    }
    h2{
        display:block;
        margin-left: 67%;
        font-family: 'La Belle Aurore', cursive;
        margin-top:-30%;
        animation: bounceIn 1.5s backwards;
        /*transform: rotate3d(-0.3, 1, 0, 180deg);*/
        img {
            height:80px;
            right:0;
            width: 80px;
            border-radius: 40px;
        }
    }

    main {
        line-height: 150%;
        font-size:180%;
        margin: 10% 30px 20px 2px;
        text-align: center;
        animation: bounceIn 1.5s backwards;
    
    }


}   
